html, body {
	height: 100%;
}

body {
	font-family: "Helvetica Neue", Arial;
	color: #222;
	margin: 0;
	padding: 0px;
	font-size: 13px;
	line-height: 1.5;
}

table td {
	font-size: 13px;
}

a {
	color:#0d64ab;
}

a:hover {
	color: #d00;
}

h1, h2, h3 {
	padding: 0;
	font-weight: normal;
	line-height: 1.3;
	color:#333;
}

h1 {
	font-size: 36px;
	margin: 0 0 10px 0;
	line-height: 1.2;
	font-weight: 500;
}

h2 {
	font-size: 24px;
	line-height: 1.2;
	margin: 0 0 10px 0;
}

h3 {
	line-height: 1.2;
	margin: 0 0 5px 0;
}

p {
	margin: 0;
	line-height: 1.5;
}

ul {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

li {
	margin: 0;
	list-style-type: none;
	line-height: 1.5;
}

dl {
	line-height: 1.5;
}

mark {
	display: inline;
	background: #fffada;
	color: inherit;
}


.indent {
	margin: 0 auto;
	max-width: 940px;
}

.page, .footer {
	padding: 20px 15px;
}

.menu {
	padding: 5px 15px;
	background-color: aliceblue;
}

.menu .title {
	font-size: 20px;
}

.menu span {
	margin: 0 25px 0 0;
}

.meal {
	width: 100%;
	overflow: scroll;
}

.meal-today {
	padding: 10px 0;
}

.meal-table {
	min-width: 700px;
	border-collapse: collapse;
	font-size: 14px;
	line-height: 1.3;
}

.meal-table td,
.meal-table th {
	padding: 5px 5px 5px 0;
	margin: 0;
}

.meal-table th {
	border-bottom:1px solid #ddd;
}

.r {
	text-align: right;
}

.l {
	text-align: left;
}

.max td {
	border-top:1px solid #ddd;
}

.max td,
.balance td {
	padding-top: 20px;
}
